#caixa1{
  border-color: rgb(0, 0, 0);
  background-color: rgb(65, 63, 63);
  position: absolute;
  width: 669px;
  height: 300px;
  border-style: solid;
  top: 8px;
  left: 16px;
  font-size: 18px;
  text-align: center;
}
#caixa2{
  position: absolute;
  border-style: solid;
  width: 669px;
  height: 300px;
  position: absolute;
  top: 8px;
  right: 16px;
  font-size: 18px;
  text-align: center;
  border-color: rgb(0, 0, 0);
  background-color: rgb(65, 63, 63);
}
  
#caixaajuda{
    position:relative;
    top: -20px;
}
#header{
    background-color:#2aaf80;
}
#headertext{
    color:rgb(238, 238, 238);
}
menucaixa{
    background-color:#2aaf80;
    height:150px;
    width:30px;
    float:left;
}
contentcaixa{
    background-color:#EEEEEE;
    height:150px;
    width:500px;
    float:center;
    align-items: start;
}
#menuinput{
    height:150px;
    width:428px;
    top: 80px;
    left: 20px;

}

#footercaixa{
    background-color:#2ba879;
    height:30px;
    width:500px;
}           